<h2 style="margin-left: 70px;"jhiTranslate="global.menu.bestsellers">Best sellers</h2>
<div class="row">
  <div *ngFor="let product of filtredProducts" class="col-md-4 col-sm-6 col-12 my-3">
      <jhi-product [product]="product"></jhi-product>
  </div>
</div>