.order {
  padding: 0.5em;
  border-bottom: 1px solid #d2d2d2;
  margin: 0.5em 0;
  box-shadow: 0 0 5px 0 #eee;
  display: flex;
  justify-content: space-between;
  > div {
    width: 16%;
    text-align: center;
  }
}

.active-order {
  font-weight: bold;
}
