
<div>
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <h1 jhiTranslate="porder.history.title">Your order history</h1>
        </div>
    </div>
    <jhi-alert></jhi-alert>

    <div class="row justify-content-center jhi-card">
        <div class="col-md-12 col-lg-10">
            <div *ngFor="let order of orders" [className]="order.id == activeOrderId ? 'order active-order' : 'order'">
                <div>
                    Commande du {{ order.date|date:'dd/MM/yyyy' }}
                </div>
                <div> {{ order.status }}</div>
                <div> {{ order.deliveryType }}</div>
                <div> {{ order.cart && order.cart.productLines ? order.cart.productLines.length : '?' }} articles</div>
                <div>
                    {{ order.totalPrice|number:'0.2-2' }} €
                </div>
                <div> {{ order.paymentType }}</div>
            </div>
            <div class="mt-3 alert alert-info" *ngIf="!orders || orders.length == 0">
                <span jhiTranslate="porder.history.none">No orders were put on this account.</span>
            </div>
        </div>
    </div>
</div>
