ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    a {
      display: block;
      border-bottom: 1px solid #ced4da;
      padding: 1em;

      &.active {
        background-color: #18bc9c;
        color: white;
      }
    }
  }
  ul a {
    padding-left: 2em;
  }
  &#main-menu {
    height: 100vh;
    overflow-y: auto;
  }
}
