<ul id="main-menu">
    <li>
        <a [routerLink]="'/'" jhiTranslate="global.menu.bestsellers">Best sellers</a>
    </li>
    <li>
        <a [routerLink]="'/product-page'" jhiTranslate="global.menu.allproducts">All products</a>
    </li>
    <li *ngFor="let cat of rootCategories">
        <ng-template [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{category: cat}"></ng-template>
    </li>
</ul>

<ng-template #category let-cat="category">
    <ng-container *ngIf="cat.childCategories && cat.childCategories.length > 0">
        <a>{{ cat.name }}</a>
        <ul>
            <li *ngFor="let childCat of cat.childCategories">
                <ng-template [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{category: childCat}"></ng-template>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="!cat.childCategories || cat.childCategories.length == 0">
        <a [routerLink]="'/product-page'" routerLinkActive="active" [queryParams]="{category: cat.id}">{{ cat.name }}</a>
    </ng-container>
</ng-template>
