<div *ngIf="location == ''; then fullNavbar else shortNavbar"></div>
<ng-template #fullNavbar>
    <nav class="navbar  navbar-expand sticky-top">
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav mr-auto" [ngSwitch]="isAuthenticated()">
                <li class="nav-item " id="bars" (click)="onClickMenu()">
                    <a class="nav-link">
                        <span>
                            <fa-icon [icon]="faBars"></fa-icon>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="navbar-brand" href="#" id="ecomDrive">ECOMDrive</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>

                <form class="form-inline my-2 my-lg-0" id="form">
                    <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search"
                        id="search" #query (keyup)="search(query.value)" (keyup.enter)="onEnter(query.value)">
                </form>

                <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                        <span>
                            <fa-icon [icon]="faUserCircle"></fa-icon>
                            <ng-container *ngSwitchCase="true">
                                {{ username | async }}
                            </ng-container>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="order-history" routerLinkActive="active">
                                <fa-icon icon="history" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.orderhistory">Order history</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active">
                                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="account/password" routerLinkActive="active">
                                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" (click)="logout()" id="logout">
                                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" (click)="login()" id="login">
                                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active">
                                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" id="shoping-cart">
                    <a class="nav-link" routerLink='/cart'>
                        <span style="position: relative;">
                            <fa-icon [icon]="faShoppingCart"></fa-icon>
                            <span *ngIf="itemsInCart" class="badge-items">{{ itemsInCart }}</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</ng-template>
<ng-template #shortNavbar>
    <nav class="navbar  navbar-expand sticky-top">

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" [ngSwitch]="isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <a [routerLink]="location == 'payment' ? '/cart' : '/product-page'">
                    <span>
                        <fa-icon [icon]="faArrowLeft"> </fa-icon>
                    </span> 
                    {{ location == 'payment' ? "Retourner au panier" : "Page d'accueil" }}
                </a>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand" href="#" id="ecomDriveShort">ECOMDrive</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        </div>
    </nav>
</ng-template>
