ul.navbar-nav {
  display: flex;
  width: 100%;

  #form {
    flex-grow: 1;
    #search {
      width: 100%;
    }
  }
}

.sticky-top {
  position: relative;
  box-shadow: 0 0 6px 0px #00000052;
  background-color: white;
  width: 100%;
}

.badge-items {
  background-color: #ffc25c;
  color: black;
  border-radius: 50%;
  font-size: 0.7em;
  text-align: center;
  padding: 0.2em;
  box-sizing: border-box;
  min-width: 16px;
  height: 17px;
  line-height: 1.2;
  position: absolute;
  top: 10px;
  right: -10px;
  font-weight: bold;
}
