<div class="footer mt-3 p-2">
    <p class="text-center" style="font-size: small">
        A propos de ce site:
        <br>
        Site web de vente de produits alimentaires réalisé au cours de trois semaines intensives par des étudiants en Master 2 Genie Informatique.
        <br>
        Les produits ne sont pas réellement disponibles et ne vous seront jamais livrés, ceci n'est qu'une démonstration technique ayant pour but d'être évaluée.
        <br>
        Pour toute question et demande, veuillez ne pas nous contacter en cliquant sur <a href="" style="pointer-events: none">ce lien</a> car il est désactivé de toute façon.
    </p>
</div>
