<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productList">
            <h2><span jhiTranslate="ecomApp.productList.detail.title">Product List</span> {{ productList.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.productList.user">User</span></dt>
                <dd>
                    <div *ngIf="productList.user">
                        <a [routerLink]="['/admin/user', productList.user?.id, 'view']">{{ productList.user?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/product-list', productList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
