<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="ecomApp.address.detail.title">Address</span> {{ address.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.address.line1">Line 1</span></dt>
                <dd>
                    <span>{{ address.line1 }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.address.line2">Line 2</span></dt>
                <dd>
                    <span>{{ address.line2 }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.address.postCode">Post Code</span></dt>
                <dd>
                    <span>{{ address.postCode }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.address.city">City</span></dt>
                <dd>
                    <span>{{ address.city }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.address.country">Country</span></dt>
                <dd>
                    <span>{{ address.country }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
