<div *ngIf="products && products.length > 0; else noproducts">
    <select class="custom-select" style="width: auto;" name="pageSize" [(ngModel)]="sortType" (change)="onChange()">
        <option [ngValue]="0">Ne pas trier</option>
        <option [ngValue]="1">Trier par prix asc</option>
        <option [ngValue]="-1">Trier par prix desc</option>
    </select>
    <br>
    <jhi-product-list [products]="products"></jhi-product-list>
    <br>
    <ngb-pagination class="d-flex justify-content-center" (pageChange)="loadData($event)" [collectionSize]="productsNumber"
        [(page)]="page" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>


<ng-template #noproducts>
    <div class="alert alert-danger text-center" role="alert">
        <p>Aucun produit correspondant à votre recherche n'est disponible.</p>
        <a routerLink="/product-page">
            <p>Tous les produits</p>
        </a>
    </div>
</ng-template>