<div *ngIf="product" class="container border p-0 rounded">
    <div class="border-box product-image">
        <a routerLink="/product-details/{{product.id}}"><img class="mx-auto d-block overflow-hidden h-100" [src]="imgUrl" alt="{{product.name}} image" /></a>
    </div>
    <div class="p-3 position-absolute product-info">
        <div class="row">
            <a class="col-8 d-block text-truncate" routerLink="/product-details/{{product.id}}">
                <!--<span *ngIf="product.stock != undefined && product.stock != 0 && product.stock<5" class="stock-info"> ({{product.stock}} restants)</span>-->
                <span class="font-weight-bold" title="{{product.name}}">{{product.name}}</span>
            </a>
            <span class="col font-weight-bold text-right">{{discountedPrice | currency: 'EUR': 'symbol' }}</span>
        </div>
        <div class="row font-weight-light">
            <em class="col">{{quantity}}, {{pricePerKilo | currency: 'EUR': 'symbol' }} /kg</em>
            <em *ngIf="product.discount && product.discount > 0" class="col text-right"><del>{{basePrice | currency: 'EUR': 'symbol' }}</del> -{{product.discount}}%</em>
        </div>
        <div class="row p-0">
            <div class="col-5">
                <ul class="p-0 m-0 tags">
                    <div *ngFor="let tag of product.tags" class="col-md-6" style="display: inline;">
                        <li *ngIf='tag.name === "Bio"'  class="badge badge-success text-wrap p-1 m-1">{{tag.name}}</li>
                        <li *ngIf='tag.name === "Halal"'  class="badge badge-warning text-wrap p-1 m-1">{{tag.name}}</li>
                        <li *ngIf='tag.name === "Local"' class="badge badge-secondary text-wrap p-1 m-1">{{tag.name}}</li>
                    </div>
                </ul>
            </div>
            <div class="col-7 text-right">
                <div *ngIf="product.stock==0" class="stock-info">
                    Indisponible
                </div>
                <button *ngIf="numberOfProducts < 1 && product.stock!=0" class="btn btn-success mb-3 rounded" (click)="addToCart()">
                    <fa-icon [icon]="faCartPlus"></fa-icon>
                </button>
                <div *ngIf="numberOfProducts > 0 && product.stock != undefined">
                    <button class="btn btn-danger rounded mr-1" (click)="removeProductFromCart()"><fa-icon class="m-0" icon="trash-alt"></fa-icon></button>
                    <ng-number-picker [(value)]="numberOfProducts"
                                      size="sm"
                                      [min]=1
                                      [max]="product.stock"
                                      [mouseWheel]="true"
                                      [arrowKeys]="true"
                                      (valueChange)="updateNumberOfProducts()"
                                      class="w-60 float-right"
                    ></ng-number-picker>
                </div>
            </div>
        </div>
    </div>
</div>
