.product-info {
  width: 93%;
  bottom: 0;
  height: 30%;
}

.product-image {
  height: 65%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ng-number-picker .input-group {
  margin-bottom: 0 !important;
}

a {
  color: inherit;
}

.container {
  height: 400px;
  ul.tags div {
    padding: 0;
  }
}

.stock-info {
  color: red;
  font-style: italic;
}
