<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-porder-heading" jhiTranslate="ecomApp.porder.home.createOrEditLabel">Create or edit a Porder
            </h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.porder.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date"
                            formControlName="date" placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.porder.paymentType"
                        for="field_paymentType">Payment Type</label>
                    <input type="text" class="form-control" name="paymentType" id="field_paymentType"
                        formControlName="paymentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.porder.deliveryType"
                        for="field_deliveryType">Delivery Type</label>
                    <input type="text" class="form-control" name="deliveryType" id="field_deliveryType"
                        formControlName="deliveryType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label required-label" for="field_status"
                        jhiTranslate="ecomApp.porder.status">Status</label>
                    <select class="form-control" id="field_status" required name="field_status"
                        formControlName="status">
                        <option *ngFor="let s of orderStatuses" [value]="s">{{ s }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.porder.totalPrice"
                        for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                        formControlName="totalPrice" />
                    <div
                        *ngIf="editForm.get('totalPrice')!.invalid && (editForm.get('totalPrice')!.dirty || editForm.get('totalPrice')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('totalPrice')?.errors?.min"
                            jhiTranslate="entity.validation.min" [translateValues]="{ min: 0.0 }">
                            This field should be at least 0.0.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('totalPrice')?.errors?.number"
                            jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.porder.deliveryFees"
                        for="field_deliveryFees">Delivery Fees</label>
                    <input type="number" class="form-control" name="deliveryFees" id="field_deliveryFees"
                        formControlName="deliveryFees" />
                    <div
                        *ngIf="editForm.get('deliveryFees')!.invalid && (editForm.get('deliveryFees')!.dirty || editForm.get('deliveryFees')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('deliveryFees')?.errors?.min"
                            jhiTranslate="entity.validation.min" [translateValues]="{ min: 0.0 }">
                            This field should be at least 0.0.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('deliveryFees')?.errors?.number"
                            jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.porder.cart" for="field_cart">Cart</label>
                    <select class="form-control" id="field_cart" name="cart" formControlName="cart">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="productListOption.id === editForm.get('cart')!.value?.id ? editForm.get('cart')!.value : productListOption"
                            *ngFor="let productListOption of carts; trackBy: trackById">{{ productListOption.id }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.porder.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
                            *ngFor="let userOption of extendedusers; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>