<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="porder">
            <h2><span jhiTranslate="ecomApp.porder.detail.title">Porder</span> {{ porder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.porder.date">Date</span></dt>
                <dd>
                    <span>{{ porder.date }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.porder.paymentType">Payment Type</span></dt>
                <dd>
                    <span>{{ porder.paymentType }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.porder.deliveryType">Delivery Type</span></dt>
                <dd>
                    <span>{{ porder.deliveryType }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.porder.status">Status</span></dt>
                <dd>
                    <span>{{ porder.status }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.porder.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{ porder.totalPrice }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.porder.deliveryFees">Delivery Fees</span></dt>
                <dd>
                    <span>{{ porder.deliveryFees }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.porder.cart">Cart</span></dt>
                <dd>
                    <div *ngIf="porder.cart">
                        <a [routerLink]="['/admin/product-list', porder.cart?.id, 'view']">{{ porder.cart?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecomApp.porder.user">User</span></dt>
                <dd>
                    <div *ngIf="porder.user">
                        <a [routerLink]="['/admin/user', porder.user?.id, 'view']">{{ porder.user?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/porder', porder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
