<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecomApp.porder.home.title">Porders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-porder" [routerLink]="['/admin/porder/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ecomApp.porder.home.createLabel">
            Create a new Porder
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ecomApp.porder.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="porders?.length === 0">
        <span jhiTranslate="ecomApp.porder.home.notFound">No porders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="porders && porders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.date">Date</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.paymentType">Payment Type</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.deliveryType">Delivery Type</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.totalPrice">Total Price</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.deliveryFees">Delivery Fees</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.cart">Cart</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.porder.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let porder of porders ;trackBy: trackId">
                    <td><a [routerLink]="['/admin/porder', porder.id, 'view']">{{ porder.id }}</a></td>
                    <td>{{ porder.date | date:'medium' }}</td>
                    <td>{{ porder.paymentType }}</td>
                    <td>{{ porder.deliveryType }}</td>
                    <td>{{ porder.status }}</td>
                    <td>{{ porder.totalPrice }}</td>
                    <td>{{ porder.deliveryFees }}</td>
                    <td>
                        <div *ngIf="porder.cart">
                            <a [routerLink]="['/admin/product-list', porder.cart?.id, 'view']" >{{ porder.cart?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="porder.user">
                            <a [routerLink]="['/admin/user', porder.user?.id, 'view']" >{{ porder.user?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/admin/porder', porder.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/admin/porder', porder.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(porder)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
