<h2>Livraison</h2>
<jhi-alert-error></jhi-alert-error>

<div class="row">
  <div class="col-6">
    <form name="form" role="form" class="row justify-content-center" (ngSubmit)="save()"
                [formGroup]="settingsForm" *ngIf="account" novalidate>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label required-label" for="lastName" jhiTranslate="settings.form.lastname">Last
                            Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                            placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
                            formControlName="lastName" required>

                        <div
                            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required"
                                jhiTranslate="settings.messages.validate.lastname.required">
                                Your last name is required.
                            </small>

                            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength"
                                jhiTranslate="settings.messages.validate.lastname.minlength">
                                Your last name is required to be at least 1 character.
                            </small>

                            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength"
                                jhiTranslate="settings.messages.validate.lastname.maxlength">
                                Your last name cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label required-label" for="firstName" jhiTranslate="settings.form.firstname">First
                            Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
                            formControlName="firstName" required>

                        <div
                            *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required"
                                jhiTranslate="settings.messages.validate.firstname.required">
                                Your first name is required.
                            </small>

                            <small class="form-text text-danger"
                                *ngIf="settingsForm.get('firstName')?.errors?.minlength"
                                jhiTranslate="settings.messages.validate.firstname.minlength">
                                Your first name is required to be at least 1 character.
                            </small>

                            <small class="form-text text-danger"
                                *ngIf="settingsForm.get('firstName')?.errors?.maxlength"
                                jhiTranslate="settings.messages.validate.firstname.maxlength">
                                Your first name cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>Type de livraison</h3>
                </div>

        <div class="col-md-6 mb-4">

        <div class="form-check form-check-inline">
                    <label class="btn btn-light rounded" style="color: blue">
                        <input class="form-check-input" type="radio" value="option1" checked>
                        Livraison à domicile
                        <!--<label class="form-check-label" for="inlineRadio1">CB</label>-->
                    </label>
                </div>
                <div class="form-check form-check-inline disabled">
                    <label class="btn btn-light rounded disabled" style="color: blue">
                        <input class="form-check-input" type="radio"  value="option3" disabled>
                        <!--<label class="form-check-label" for="inlineRadio3">Paypal</label>-->
                        Drive (Indisponible)
                    </label>
                </div>
        </div>
        <div class="col-md-6  mb-4">

        </div>
                <!--<div class="col-md-6 mb-4">-->
                    <!--<div class="form-check form-check-inline">-->
                        <!--<input class="form-check-input" type="radio" id="inlineRadio1" value="option1" checked>-->
                        <!--<label class="form-check-label" for="inlineRadio1">Livraison à domicile</label>-->
                    <!--</div>-->
                    <!--<div class="form-check form-check-inline">-->
                        <!--<input class="form-check-input" type="radio" id="inlineRadio3" value="option3" disabled>-->
                        <!--<label class="form-check-label" for="inlineRadio3">Drive (Indisponible)</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6  mb-4">-->

                <!--</div>-->

                <ng-container formGroupName="address">
                    <div class="col-md-12">
                        <h3 jhiTranslate="settings.form.address.title">Delivery address</h3>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label required-label" for="a-line1" jhiTranslate="settings.form.address.line1">Line 1</label>
                            <input type="text" class="form-control" required id="a-line1" name="a-line1" placeholder="{{ 'settings.form.address.line1.placeholder' | translate }}" formControlName="line1">
                            <div
                                *ngIf="settingsForm.get('address')!.get('line1')!.invalid && (settingsForm.get('address')!.get('line1')!.dirty || settingsForm.get('address')!.get('line1')!.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('line1')?.errors?.required"
                                    jhiTranslate="settings.messages.validate.address.line1.required">
                                    Your address line 1 is required.
                                </small>

                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('line1')?.errors?.maxlength"
                                    jhiTranslate="settings.messages.validate.address.line1.maxlength">
                                    Your address line 1 cannot be longer than 60 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="a-line2" jhiTranslate="settings.form.address.line2">Line 2</label>
                            <input type="text" class="form-control" id="a-line2" name="a-line2" placeholder="{{ 'settings.form.address.line2.placeholder' | translate }}" formControlName="line2">
                            <div *ngIf="settingsForm.get('address')!.get('line2')!.invalid && (settingsForm.get('address')!.get('line2')!.dirty || settingsForm.get('address')!.get('line2')!.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('line2')?.errors?.maxlength"
                                    jhiTranslate="settings.messages.validate.address.line2.maxlength">
                                    Your address line 2 cannot be longer than 60 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label required-label" for="a-postcode" jhiTranslate="settings.form.address.postcode">Post code</label>
                            <input type="text" class="form-control" id="a-postcode" name="a-postcode" placeholder="{{ 'settings.form.address.postcode.placeholder' | translate }}" formControlName="postCode" required maxlength="5" minlength="5">
                            <div *ngIf="settingsForm.get('address')!.get('postCode')!.invalid && (settingsForm.get('address')!.get('postCode')!.dirty || settingsForm.get('address')!.get('postCode')!.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('postCode')?.errors?.required"
                                    jhiTranslate="settings.messages.validate.address.postcode.required">
                                    Your post code is required.
                                </small>
                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('postCode')?.errors?.maxlength || settingsForm.get('address')!.get('postCode')?.errors?.minlength"
                                    jhiTranslate="settings.messages.validate.address.postcode.length">
                                    Your post code must be 5 characters long.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label required-label" for="a-city" jhiTranslate="settings.form.address.city">City</label>
                            <input type="text" class="form-control" id="a-city" required name="a-city" placeholder="{{ 'settings.form.address.city.placeholder' | translate }}" formControlName="city">
                            <div *ngIf="settingsForm.get('address')!.get('city')!.invalid && (settingsForm.get('address')!.get('city')!.dirty || settingsForm.get('address')!.get('city')!.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('city')?.errors?.required"
                                    jhiTranslate="settings.messages.validate.address.city.required">
                                    Your city is required.
                                </small>
                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('city')?.errors?.maxlength || settingsForm.get('address')!.get('city')?.errors?.minlength"
                                    jhiTranslate="settings.messages.validate.address.city.length">
                                    Your city must be 50 characters long.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label required-label" for="a-country" jhiTranslate="settings.form.address.country">country</label>
                            <select class="form-control" id="a-country" required name="a-country" formControlName="country">
                                <option value="France">France</option>
                            </select>
                            <div *ngIf="settingsForm.get('address')!.get('country')!.invalid && (settingsForm.get('address')!.get('country')!.dirty || settingsForm.get('address')!.get('country')!.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="settingsForm.get('address')!.get('country')?.errors?.required"
                                    jhiTranslate="settings.messages.validate.address.country.required">
                                    Your country is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-12 bottom-note">
                        <span jhiTranslate="global.form.requiredfields">Fields marked with * are required.</span>
                    </div>
                </ng-container>

                <div class="col-md-12">
                    <h3>Paiement</h3>
                </div>
            <div class="col-md-12">

                <div class="form-check form-check-inline">
                    <label class="btn btn-light rounded" style="color: blue">
                        <input class="form-check-input" type="radio" value="option1" checked>
                        CB
                        <!--<label class="form-check-label" for="inlineRadio1">CB</label>-->
                    </label>
                </div>
                <div class="form-check form-check-inline disabled">
                    <label class="btn btn-light rounded disabled" style="color: blue">
                        <input class="form-check-input" type="radio"  value="option3" disabled>
                        <!--<label class="form-check-label" for="inlineRadio3">Paypal</label>-->
                        Paypal (Indisponible)
                    </label>
                </div>
                            <!--<div class="btn-group btn-group-toggle" data-toggle="buttons">-->
                            <!--<label class="btn btn-light rounded" style="color: blue">-->
                                <!--<input type="radio" autocomplete="off" checked> CB-->
                            <!--</label>-->
                            <!--<label class="btn btn-light rounded" style="color: blue">-->
                                <!--<input type="radio" autocomplete="off"> Paypal-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--<button type="button" class="btn btn-light rounded" style="color: blue">CB</button>-->
                            <!--<button type="button" class="btn btn-light rounded" style="color: blue">Paypal</button>-->
                </div>
                <div class="col-md-12 form-end">
                    <button type="submit" [disabled]="settingsForm.invalid || totalCost == undefined || deliveryCost == undefined" class="btn btn-primary">Passer la Commande</button>
                </div>
            </form>
  </div>
  <div class="col-6">
    <jhi-shopping-cart-summary (totalCostLoad)="setTotalCost($event)" (deliveryCostLoad)="setDeliveryCost($event)"></jhi-shopping-cart-summary>
  </div>
</div>

