<form *ngIf="excessQuantityErrors" name="stockIssueCorrection" (ngSubmit)="confirmChanges()">
    <span>
        <div class="modal-header">
            <strong>Quantité excessive</strong>
        </div>

        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <p>Malheureusement, tous les produits ne sont plus disponible de la quantité demandée.</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité demandée</th>
                        <th scope="col">Quantité disponible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let excessQuantityError of excessQuantityErrors">
                        <td *ngIf="excessQuantityError.product !== undefined">
                            {{excessQuantityError.product.name}}
                        </td>
                        <td>{{excessQuantityError.oldQuantity}}</td>
                        <td>{{excessQuantityError.stockLeft}}</td>
                    </tr>

                </tbody>
            </table>
            <ul class=" text-left">
                <li>
                   Ancien Total*: {{originalTotal | currency: 'EUR': 'symbol'}}
                </li>
                <li>
                    Nouveau Total*:  {{revisedTotal | currency: 'EUR': 'symbol'}}
                </li>
            </ul>
            <p>* frais de livraison inclus ({{deliveryCost | currency: 'EUR': 'symbol'}}).</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="backToCart()">
                <fa-icon icon="ban"></fa-icon>&nbsp;Supprimer produit
            </button>
            <button type="submit" class="btn btn-danger force-red-background">
                <fa-icon icon="times"></fa-icon>&nbsp;Accepter les changements
            </button>
        </div>
    </span>
</form>
