mat-drawer {
  box-shadow: 0 0 6px 2px #00000052;
  min-width: 20%;
}

.mat-drawer-opened + mat-drawer-content {
  margin-left: 20%;
}

#main-container {
  height: calc(100vh - 70px);
  overflow-y: auto;
  padding: 1em;
}
