<mat-drawer-container class="example-container">
    <mat-drawer mode="side" #drawermenu opened>
        <jhi-menu></jhi-menu>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <div [ngSwitch]="isAdmin()">
                <jhi-navbar *ngSwitchCase="true" (clickMenu)="drawermenu.toggle()"></jhi-navbar>
                <jhi-navbar-user (clickMenu)="drawermenu.toggle()" (hideMenu)="drawermenu.close()" *ngSwitchCase="false"></jhi-navbar-user>
            </div>
        </div>
        <div class="container-fluid" id="main-container">
            <router-outlet></router-outlet>
            <jhi-footer></jhi-footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
