<form name="deleteForm" (ngSubmit)="emptyCart()">
    <span>
        <div class="modal-header">
            <strong>Vider panier Confirmation</strong>
        </div>

        <div class="modal-body text-center" >
            <jhi-alert-error></jhi-alert-error>
            Êtes-vous sûr de vouloir vider le panier?
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
                <fa-icon icon="ban"></fa-icon>&nbsp;Fermer
            </button>

            <button type="submit" class="btn btn-danger force-red-background">
                <fa-icon icon="times"></fa-icon>&nbsp;Vider Panier
            </button>
        </div>
    </span>
</form>
<ng-template #nocart>
    <div class="alert alert-danger text-center" role="alert">
        Il n'y a aucune cart pour cet utilisateur!
    </div>
</ng-template>
