.force-white {
  color: white !important;
}
.force-red-background {
  background-color: #d62c1a !important;
}

.no-link-button {
  text-decoration: none !important;
  cursor: default !important;
  font-weight: bold;
}

.info-box {
  text-align: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  margin-bottom: 30px;
}

.total-price {
  font-size: 2em;
}
