

<div class="row"  *ngIf="productLines && productLines.length > 0; else noproducts">
    <div class="col-4">
        <!--<jhi-current-cart #currentCart></jhi-current-cart>-->
        <div class="row-md-6" style="padding-top: 3%; margin-bottom: 5px">
            <button *ngIf="productList" (click)="emptyCart()" type="button" class="btn btn-danger btn"><fa-icon icon="trash-alt"></fa-icon> Vider panier  </button>
        </div>
        <ul class="list-group">
            <div *ngFor="let productLine of productLines">
                <div *ngIf="productLine.product !== undefined && productLine.product.id !== undefined
                            &&  productLine.quantity !== undefined">
                    <button  type="button" class="list-group-item list-group-item-action"
                    (click)="updateIdSelected(productLine.product , productLine.quantity)">
                        <span *ngIf="productLine.product !== undefined && productLine.product.id !== undefined">
                            {{ productLine.quantity }} X {{productLine.product.name}}
                        </span>
                    </button>
                </div>
            </div>

        </ul>
    </div>
    <div class="col-6 mt-5">
        <div *ngIf="productLines && productLines.length > 1;" class="alert alert-light info-box" role="alert">
            Cliquez sur un produit à gauche pour modifier la quantité avant valider la commande
        </div>
        <jhi-product-details  *ngIf="idSelected !== undefined && idSelected" [isSelected]="idSelected"></jhi-product-details>
    </div>
    <div class="col-2 text-center mt-3">
        <button type="button" class="btn btn-link btn-block no-link-button p-4">Prix total <br />
            <span class="total-price">{{ totalCost | currency: 'EUR': 'symbol' }}</span>
        </button>

        <!--<span *ngIf="totalCost" style="font-weight: bold">-->
            <!--<strong>Prix total = {{totalCost}}€</strong>-->
        <!--</span>-->

        <div class="row-md-6">
            <a class="btn btn-success force-white" (click)="validateCart(productList)"><fa-icon icon="shopping-cart"></fa-icon> Valider panier </a>
        </div>



    </div>
</div>
<ng-template #noproducts>
    <div class="alert alert-danger text-center" role="alert">
        <p>Il n'y a aucun produit dans le panier. Ajouter des produits à votre panier avant de valider la commande</p>
        <a routerLink="/product-page"><p>Parcourir les produits</p></a>
    </div>
</ng-template>

<div style="margin-bottom: 100px;">

</div>
