<div *ngIf="product" class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img style="max-width:100%; max-height: 70%;" [src]="imgUrl" />
        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-inline">
                        <h4>
                            {{product.name}}<span *ngIf="product.stock != 0 && product.stock<5" class="stock-info"> ({{product.stock}} restants)</span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-4 offset-2">
                    <div class="d-inline text-right" style="float: right;">
                        <span class="main-price">{{discountedPrice | currency: 'EUR': 'symbol'}}</span>
                        <del *ngIf="product.discount && (product.discount > 0)" class="old-price">{{product.price | currency: 'EUR': 'symbol'}}</del>
                        <span *ngIf="product.discount && (product.discount > 0)" class="old-price">-{{product.discount}}%</span>
                    </div>
                </div>
            </div>

            <hr>
            <p>
              {{ product.description }}           
          </p>
            <hr>

            <div class="row">
                <div class="col-6">
                    <p>Poids: {{product.kiloWeight}}kg</p>
                    <p>Prix au kilo: {{pricePerKilo | currency: 'EUR': 'symbol'}}</p>
                </div>
                <div class="col">
                    <div class="tagsSection" >
                        <ul class="tags">
                            <div *ngFor="let tag of product.tags" class="col-md-6" style="display: inline;">
                                <li *ngIf='tag.name === "Bio"'  class="badge badge-success text-wrap p-1 m-1">{{tag.name}}</li>
                                <li *ngIf='tag.name === "Halal"'  class="badge badge-warning text-wrap p-1 m-1">{{tag.name}}</li>
                                <li *ngIf='tag.name === "Local"' class="badge badge-secondary text-wrap p-1 m-1">{{tag.name}}</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mr-1">
                <div *ngIf="product.stock==0" class="stock-info">
                    Indisponible
                </div>
                <button *ngIf="numberOfProducts <= 0 && product.stock!=0" class="btn btn-success rounded" (click)="addToCart()">
                    <fa-icon [icon]="faCartPlus"></fa-icon>  Ajouter au panier
                </button>
                <div *ngIf="numberOfProducts > 0" class="">
                    <div class="float-right">
                        <ng-number-picker *ngIf="numberOfProducts > 0"
                                      [(value)]="numberOfProducts"
                                      size="sm"
                                      [min]=1
                                      [max]="product.stock"
                                      [mouseWheel]="true"
                                      [arrowKeys]="true"
                                      (valueChange)="updateNumberOfProducts($event)"
                        ></ng-number-picker>
                    </div>
                    <button class="btn btn-danger rounded mr-1" (click)="removeProductFromCart()"><fa-icon class="m-0" icon="trash-alt"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 30px;">

</div>
