.add-to-cart {
  float: right;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

hr {
  border-width: 1px;
}

.header {
  font-size: 30px;
}

.main-price {
  font-size: 30px;
}

.old-price {
  font-size: 15px;
}

ul.tags div {
  padding: 0;
}

.stock-info {
  color: red;
  font-style: italic;
}
