<div>
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label required-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                             formControlName="email" required>

                    <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.invalid"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label required-label" for="firstname" jhiTranslate="global.form.firstname.label">Firstname</label>
                    <input type="firstname" required class="form-control" id="firstname" name="firstname" placeholder="{{ 'global.form.firstname.placeholder' | translate }}" formControlName="firstname">

                    <div *ngIf="registerForm.get('firstname')!.invalid && (registerForm.get('firstname')!.dirty || registerForm.get('firstname')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('firstname')?.errors?.required"
                               jhiTranslate="global.messages.validate.firstname.required">
                            Your firstname is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('firstname')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.firstname.minlength">
                            Your firstname is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('firstname')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.firstname.maxlength">
                            Your firstname cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label required-label" for="lastname" jhiTranslate="global.form.lastname.label">lastname</label>
                    <input type="lastname" required class="form-control" id="lastname" name="lastname" placeholder="{{ 'global.form.lastname.placeholder' | translate }}"
                             formControlName="lastname">

                    <div *ngIf="registerForm.get('lastname')!.invalid && (registerForm.get('lastname')!.dirty || registerForm.get('lastname')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('lastname')?.errors?.required"
                               jhiTranslate="global.messages.validate.lastname.required">
                            Your lastname is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('lastname')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.lastname.minlength">
                            Your lastname is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('lastname')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.lastname.maxlength">
                            Your lastname cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label required-label" for="password" jhiTranslate="global.form.newpassword.label">New password</label>
                    <input type="password" required class="form-control" id="password" name="password" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                            formControlName="password">

                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label required-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                    <input type="password" required class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                            formControlName="confirmPassword">

                    <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                
                
                <div class="bottom-note">
                    <span jhiTranslate="global.form.requiredfields">Fields marked with * are required.</span>
                </div>

                <div class="form-end"><button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary"><fa-icon icon="save" [fixedWidth]="true"></fa-icon> <span jhiTranslate="register.form.button">Register</span></button></div>
            </form>

            <div class="mt-3 alert alert-info">
                <span jhiTranslate="register.info.alreadyregistered">Already registered? You can </span>
                <a class="alert-link" (click)="openLogin()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
            </div>
        </div>
    </div>
</div>
