<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <div>
        <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">ECOM</span> <span class="navbar-version">{{ version }}</span>
        </a>
        <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon icon="bars"></fa-icon>
        </a>
        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
            <ul class="navbar-nav ml-auto">
                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" routerLink="admin/user-management" (click)="collapseNavbar()">
                        <span>
                            <fa-icon icon="user"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </span>
                    </a>
                </li>
                <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                            <span>
                                <fa-icon icon="th-list"></fa-icon>
                                <span jhiTranslate="global.menu.entities.main">
                                    Entities
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                            <li>
                                <a class="dropdown-item" routerLink="admin/product" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.product">Product</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/tag" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.tag">Tag</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.category">Category</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/product-line" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.productLine">Product Line</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/product-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.productList">Product List</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/porder" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.porder">Porder</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/address" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.address">Address</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/feed-back" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.feedBack">Feed Back</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/review" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.review">Review</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin/paramaters" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.paramaters">Paramaters</span>
                                </a>
                            </li>
                            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                        </ul>
                    </li>
                </ng-container>
                <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                        <span *ngIf="!getImageUrl()">
                            <fa-icon icon="user"></fa-icon>
                            <span jhiTranslate="global.menu.account.main">
                                Account
                            </span>
                        </span>
                        <span *ngIf="getImageUrl()">
                            <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" (click)="logout()" id="logout">
                                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" (click)="login()" id="login">
                                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" routerLink="/cart" (click)="collapseNavbar()">
                        <span>
                            <fa-icon icon="shopping-cart"></fa-icon>
                            <span>Panier</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
