/* ==========================================================================
Main page styles
========================================================================== */

.home {
  margin: -1em;
  margin-bottom: 1em;
}
#description {
  display: inline-block;
  height: 300px;
  background: url('../../content/images/vegetables-573958_1920.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  .text-desc {
    display: block;
    background: #ffffffb8;
    height: 100%;
    width: 100%;
    padding: 2em;
    line-height: 2;
    overflow-y: auto;
  }
}
.text-justify {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.postion {
  margin-left: 550px;
}

.stock-info {
  font-weight: bold;
}
