<div *ngIf="isAdmin() && this.productsWithLowStock.length>0" class="alert alert-danger" role="alert">
    <h4>Informations sur les stocks faibles (moins de 10)</h4>
    <ul *ngFor="let lowStockProduct of this.productsWithLowStock">
        <li [ngClass]="{'stock-info' : lowStockProduct.stock == 0}">{{lowStockProduct.name}} - {{lowStockProduct.stock}}</li>
    </ul>
</div>
<div class="my-3">
    <jhi-home-page-products></jhi-home-page-products>
</div>
<div class="text-center">
    <a routerLink="/product-page" class="btn btn-primary active">Tous les produits</a>
</div>

