<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="review">
            <h2><span jhiTranslate="ecomApp.review.detail.title">Review</span> {{ review.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.review.stars">Stars</span></dt>
                <dd>
                    <span>{{ review.stars }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.review.comments">Comments</span></dt>
                <dd>
                    <span>{{ review.comments }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.review.user">User</span></dt>
                <dd>
                    <div *ngIf="review.user">
                        <a [routerLink]="['/admin/user', review.user?.id, 'view']">{{ review.user?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/review', review.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
