<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feedBack">
            <h2><span jhiTranslate="ecomApp.feedBack.detail.title">Feed Back</span> {{ feedBack.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.feedBack.message">Message</span></dt>
                <dd>
                    <span>{{ feedBack.message }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.feedBack.read">Read</span></dt>
                <dd>
                    <span>{{ feedBack.read }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.feedBack.user">User</span></dt>
                <dd>
                    <div *ngIf="feedBack.user">
                        <a [routerLink]="['/admin/user', feedBack.user?.id, 'view']">{{ feedBack.user?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/feed-back', feedBack.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
