<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramaters">
            <h2><span jhiTranslate="ecomApp.paramaters.detail.title">Paramaters</span> {{ paramaters.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.paramaters.nameDescription">Name Description</span></dt>
                <dd>
                    <span>{{ paramaters.nameDescription }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.paramaters.deliveryFees">Delivery Fees</span></dt>
                <dd>
                    <span>{{ paramaters.deliveryFees }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/paramaters', paramaters.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
