<div class="card" >
    <div class="card-body" *ngIf="productLines && productLines.length > 0; else noproducts">
      <h5 class="card-title">Résumé de la commande</h5>
      <p class="card-text">Vous avez {{ productLines.length }} articles dans votre panier.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let productLine of productLines" >
            <span *ngIf="productLine.id !== undefined && productLine.product !== undefined">
              {{ productLine.quantity }} x {{productLine.product.name}}
            </span>

          <div class="float-right" >
            <span *ngIf="productLine !== undefined && productLine.id !== undefined &&
            productLine.quantity !== undefined && productLine.unitPrice !== undefined">
              {{ productLine.quantity * productLine.unitPrice | currency: 'EUR': 'symbol' }}
            </span>
          </div>
        </li>
      <li class="list-group-item font-italic">
            <span *ngIf="deliveryCost !== undefined">
                Frais de livraison
            </span>
          <div class="float-right" >
            <span *ngIf="deliveryCost !== undefined">
              {{deliveryCost}} €
            </span>
              </div>
      </li>
        <li class="list-group-item font-weight-bold">
            Total (livraison incluse)
          <div class="float-right">
            {{ totalCostWithDelivery | currency: 'EUR': 'symbol' }}
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noproducts>
      <div class="card-body">
        <h5 class="card-title">Résumé de la commande</h5>
        <p class="card-text">Pas d'articles dans votre panier.</p>
      </div>
  </ng-template>
  </div>
