<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="ecomApp.product.detail.title">Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.product.name">Name</span></dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.product.stock">Stock</span></dt>
                <dd>
                    <span>{{ product.stock }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.product.price">Price</span></dt>
                <dd>
                    <span>{{ product.price }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.product.discount">Discount</span></dt>
                <dd>
                    <span>{{ product.discount }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.product.kiloWeight">Kilo Weight</span></dt>
                <dd>
                    <span>{{ product.kiloWeight }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.product.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{ product.imageUrl }}</span>
                </dd>
                <dt><span >Description</span></dt>
                <dd>
                    <span>{{ product.description }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.product.tag">Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of product.tags; let last = last">
                        <a [routerLink]="['/admin/tag', tag?.id, 'view']">{{ tag.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="ecomApp.product.category">Category</span></dt>
                <dd>
                    <div *ngIf="product.category">
                        <a [routerLink]="['/admin/category', product.category?.id, 'view']">{{ product.category?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
