<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading" jhiTranslate="ecomApp.product.home.createOrEditLabel">Create or edit a Product
            </h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.product.stock"
                        for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock" formControlName="stock" />
                    <div
                        *ngIf="editForm.get('stock')!.invalid && (editForm.get('stock')!.dirty || editForm.get('stock')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('stock')?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('stock')?.errors?.min"
                            jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('stock')?.errors?.number"
                            jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.product.price"
                        for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price" formControlName="price" />
                    <div
                        *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.min"
                            jhiTranslate="entity.validation.min" [translateValues]="{ min: 0.0 }">
                            This field should be at least 0.0.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number"
                            jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.product.discount"
                        for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                        formControlName="discount" />
                    <div
                        *ngIf="editForm.get('discount')!.invalid && (editForm.get('discount')!.dirty || editForm.get('discount')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('discount')?.errors?.min"
                            jhiTranslate="entity.validation.min" [translateValues]="{ min: 0.0 }">
                            This field should be at least 0.0.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('discount')?.errors?.max"
                            jhiTranslate="entity.validation.max" [translateValues]="{ max: 100.0 }">
                            This field cannot be more than 100.0.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('discount')?.errors?.number"
                            jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.product.kiloWeight"
                        for="field_kiloWeight">Kilo Weight</label>
                    <input type="number" class="form-control" name="kiloWeight" id="field_kiloWeight"
                        formControlName="kiloWeight" />
                    <div
                        *ngIf="editForm.get('kiloWeight')!.invalid && (editForm.get('kiloWeight')!.dirty || editForm.get('kiloWeight')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('kiloWeight')?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('kiloWeight')?.errors?.min"
                            jhiTranslate="entity.validation.min" [translateValues]="{ min: 0.0 }">
                            This field should be at least 0.0.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('kiloWeight')?.errors?.number"
                            jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group" *ngIf="currentImageUrl">
                    <img [src]="currentImageUrl" />
                </div>

                <div class="file-field form-group">
                    <div class="form-group">
                        <label for="image-file">Choose image file</label>
                    <input type="file" ng2FileSelect [uploader]="uploader" id="image-file">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"  for="field_description">Description</label>
                    <input type="textArea" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="ecomApp.product.tag" for="field_tags">Tag</label>
                    <select class="form-control" id="field_tags" multiple name="tags" formControlName="tags">
                        <option [ngValue]="getSelected(editForm.get('tags')!.value, tagOption)"
                            *ngFor="let tagOption of tags; trackBy: trackById">{{ tagOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecomApp.product.category"
                        for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="category">
                        <option *ngIf="!editForm.get('category')!.value" [ngValue]="null" selected></option>
                        <option
                            [ngValue]="categoryOption.id === editForm.get('category')!.value?.id ? editForm.get('category')!.value : categoryOption"
                            *ngFor="let categoryOption of categories; trackBy: trackById">{{ categoryOption.name }}
                        </option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('category')!.invalid && (editForm.get('category')!.dirty || editForm.get('category')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('category')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" [disabled]="isSaving" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>