body {
  color: #5d5d5d;
}

.form-control,
.alert,
.modal-content {
  border-radius: 0;
}

.required-label::after {
  content: ' *';
}

.btn {
  border-radius: 0;
  border: 0;

  fa-icon {
    margin-right: 5px;
  }

  &[type='submit'] {
    background-color: #6cc472;
    &:disabled {
      background-color: #ececec;
    }
  }
}

.form-end {
  text-align: right;
}

h1,
h2 {
  position: relative;
  margin-bottom: 0.8em;
  &::after {
    content: ' ';
    border-bottom: 1px solid #b4bcc2;
    width: 65%;
    height: 2px;
    position: absolute;
    bottom: -0.3em;
    left: 0;
    box-shadow: 1px 1px 1px 0px #b4bcc2;
  }
}

input.ng-invalid.ng-touched {
  border-color: #e74c3c;
}

.bottom-note {
  margin-top: 1em;
  font-size: 0.85em;
}
