<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productLine">
            <h2><span jhiTranslate="ecomApp.productLine.detail.title">Product Line</span> {{ productLine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomApp.productLine.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ productLine.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.productLine.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{ productLine.unitPrice }}</span>
                </dd>
                <dt><span jhiTranslate="ecomApp.productLine.product">Product</span></dt>
                <dd>
                    <div *ngIf="productLine.product">
                        <a [routerLink]="['/admin/product', productLine.product?.id, 'view']">{{ productLine.product?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecomApp.productLine.productList">Product List</span></dt>
                <dd>
                    <div *ngIf="productLine.productList">
                        <a [routerLink]="['/admin/admin/product-list', productLine.productList?.id, 'view']">{{ productLine.productList?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/product-line', productLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
