<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecomApp.productLine.home.title">Product Lines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-line" [routerLink]="['/admin/product-line/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ecomApp.productLine.home.createLabel">
            Create a new Product Line
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ecomApp.productLine.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="productLines?.length === 0">
        <span jhiTranslate="ecomApp.productLine.home.notFound">No productLines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productLines && productLines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.productLine.quantity">Quantity</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.productLine.unitPrice">Unit Price</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.productLine.product">Product</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.productLine.productList">Product List</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productLine of productLines ;trackBy: trackId">
                    <td><a [routerLink]="['/admin/product-line', productLine.id, 'view']">{{ productLine.id }}</a></td>
                    <td>{{ productLine.quantity }}</td>
                    <td>{{ productLine.unitPrice }}</td>
                    <td>
                        <div *ngIf="productLine.product">
                            <a [routerLink]="['/admin/product', productLine.product?.id, 'view']" >{{ productLine.product?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="productLine.productList">
                            <a [routerLink]="['/admin/product-list', productLine.productList?.id, 'view']" >{{ productLine.productList?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/admin/product-line', productLine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/admin/product-line', productLine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productLine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
